@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
    background: radial-gradient(circle, #e8d3dc, #fff);
}

.hover-on-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.40s ease-in-out;
}

.hover-on-button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
  
.highlight:hover::before {
    transform: scaleX(1);
    transform-origin: center left;
}

/* keyframes definition for sliding from the bottom */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Defining a class for applying the slide animation */
.slide-in-bottom {
    animation: slideInFromBottom 2s ease-out; 
}