@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
    background: radial-gradient(circle, #886fc7, #349ac2, #2e5d82);
}
.dedicated-service-bg {
    background: linear-gradient(to bottom, #3f698f, #bd8713);
}
.gradient-modal-bg {
    background: radial-gradient(circle at 100% 50%, #a0beff, #fff)
}

/* define a keyframe for sliding in from right */
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    10% {
        transform: translateX(80%);
    }
    
    20% {
        transform: translateX(60%);
    }
    30% {
        transform: translateX(40%);
    }
    40% {
        transform: translateX(20%);
    }
    50% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-20%);
    }
    70% {
        transform: translateX(-40%);
    }
    80% {
        transform: translateX(-60%);
    }
    90% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
 /* css */
  .sliding-text {
    /* Adjust duration and easing as needed */
    animation: slideInFromRight 25s linear infinite;
}

.hover-on-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.40s ease-in-out;
}

.hover-on-button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
  
.highlight:hover::before {
    transform: scaleX(1);
    transform-origin: center left;
}

/* keyframes definition for sliding from the bottom */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Defining a class for applying the slide animation */
.slide-in-bottom {
    animation: slideInFromBottom 2s ease-out; 
}